CREATE DATABASE QLTHIETBI
USE [QLTHIETBI]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 23/05/2019 9:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MAHD] [char](10) NOT NULL,
	[MALK] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_CHITIETHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MALK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 23/05/2019 9:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](10) NOT NULL,
	[NGAYHD] [datetime] NULL,
	[MAKH] [char](10) NULL,
	[TONGTIEN] [money] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 23/05/2019 9:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SĐT] [int] NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LINHKIEN]    Script Date: 23/05/2019 9:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LINHKIEN](
	[MALK] [char](10) NOT NULL,
	[TENLK] [nvarchar](50) NULL,
	[DUONGDAN] [nvarchar](50) NULL,
	[NGAYSX] [date] NULL,
	[TGBH] [int] NULL,
	[MALOAI] [char](10) NULL,
	[THUONGHIEU] [nvarchar](50) NULL,
	[MAUSAC] [nvarchar](50) NULL,
	[GIA] [MONEY] NULL,
 CONSTRAINT [PK_LINHKIEN] PRIMARY KEY CLUSTERED 
(
	[MALK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAILK]    Script Date: 23/05/2019 9:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAILK](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAILK] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETHD] ([MAHD], [MALK], [SOLUONG], [DONGIA]) VALUES (N'HD001     ', N'LK002     ', 1, 34000000.0000)
INSERT [dbo].[CHITIETHD] ([MAHD], [MALK], [SOLUONG], [DONGIA]) VALUES (N'HD002     ', N'LK009     ', 1, 79000000.0000)
INSERT [dbo].[CHITIETHD] ([MAHD], [MALK], [SOLUONG], [DONGIA]) VALUES (N'HD004     ', N'LK024     ', 1, 29200000.0000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYHD], [MAKH], [TONGTIEN]) VALUES (N'HD001     ', CAST(0x0000A85F00000000 AS DateTime), N'KH003     ', 3800000.0000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYHD], [MAKH], [TONGTIEN]) VALUES (N'HD002     ', CAST(0x0000A89900000000 AS DateTime), N'KH001     ', 5670000.0000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYHD], [MAKH], [TONGTIEN]) VALUES (N'HD003     ', CAST(0x0000A9EB00000000 AS DateTime), N'KH002     ', 6700000.0000)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SĐT], [DIACHI]) VALUES (N'KH001     ', N'NGUYỄN HOÀI NHÂN', 933897456, N'TPHCM')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SĐT], [DIACHI]) VALUES (N'KH002     ', N'NGUYỄN THỊ HOÀI THƯƠNG', 987532823, N'NINH BÌNH')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SĐT], [DIACHI]) VALUES (N'KH003     ', N'TRẦN MAI HOA', 962456345, N'LONG AN')
INSERT [dbo].[LINHKIEN] ([MALK], [TENLK],[DUONGDAN], [NGAYSX], [TGBH], [MALOAI], [THUONGHIEU], [MAUSAC],[GIA]) VALUES (N'LK001     ', N'Smart TV  ',N'Smart TV.PNG', CAST(0x813E0B00 AS Date), 1, N'L001      ', N'Sony', N'Đen', 38400000)
INSERT [dbo].[LINHKIEN] ([MALK], [TENLK],[DUONGDAN], [NGAYSX], [TGBH], [MALOAI], [THUONGHIEU], [MAUSAC],[GIA]) VALUES (N'LK002     ', N'Android Tivi',N'Android Tivi.PNG', CAST(0x8F3C0B00 AS Date), 1, N'L001      ', N'Asanzo', N'Đen, Đỏ',1700000)
INSERT [dbo].[LINHKIEN] ([MALK], [TENLK],[DUONGDAN], [NGAYSX], [TGBH], [MALOAI], [THUONGHIEU], [MAUSAC],[GIA]) VALUES (N'LK003     ', N'Smart Tivi QLED',N'Smart Tivi QLED.PNG', CAST(0xA93C0B00 AS Date), 2, N'L001      ', N'Samsung', N'Đem, xám',1800000)
INSERT [dbo].[LOAILK] ([MALOAI], [TENLOAI]) VALUES (N'L001      ', N'Ti vi và Thiết bị thông minh')
INSERT [dbo].[LOAILK] ([MALOAI], [TENLOAI]) VALUES (N'L002      ', N'Hàng cao cấp và gaming')
INSERT [dbo].[LOAILK] ([MALOAI], [TENLOAI]) VALUES (N'L003      ', N'PC và Linh kiện')
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_LINHKIEN] FOREIGN KEY([MALK])
REFERENCES [dbo].[LINHKIEN] ([MALK])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_LINHKIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[LINHKIEN]  WITH CHECK ADD  CONSTRAINT [FK_LINHKIEN_LOAILK] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAILK] ([MALOAI])
GO
ALTER TABLE [dbo].[LINHKIEN] CHECK CONSTRAINT [FK_LINHKIEN_LOAILK]
GO